<form enctype="multipart/form-data" method="post">

    {% csrf_token %}
    {% for campo in formulario2 %}

    <div class="mb-3">
      <label for="" class="form-label">{{ campo.label }}</label>

      <input 
      type="{% if campo.label == 'Fecha' %}{{ 'date' }}{% else %}{{ 'text' }}{% endif %}" 
      class="form-control" 
      name="{{ campo.name }}" 
      id="" 
      aria-labelledby="helpId"
      placeholder="{{ campo.label }}"
      value="{{ campo.value | default:'' }}"
      />
      

    </div>

    <div class="col-12 help-text">{{ campo.errors }}</div>

    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar">
    <a name="" id="" class="btn btn-primary" href="{% url 'reserva' %}" role="button">Cancelar</a>

</form>
