{% extends "plantilla.html" %}
{% block titulo %} Lista de Usuarios {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Reservas</h4>
        
        <table class="table">
            <thead>
                
                <tr>
                    <th>Nombre cliente</th>
                    <th>Identificacion</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th>Fecha evento</th>
                    <th>Cantidad personas</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.tel }}</td>
                    <td>{{ cliente.ciudad }}<td>
                    <td>{{ reserva.fecha }}</td>
                    <td>{{ reserva.no_personas }}</td>
                    <td>{{ reserva.motivo }}</td>
                    <td> <td><a name="" id="" class="btn btn-info" href="" role="button">Editar</a> 
                        | 
                        <a name="" id="" class="btn btn-danger" href="#" role="button">Eliminar</a></td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}